@page "/product/{Id}"
@using Shop.Models.Dtos
@using Shop.WebApp.Services.Contracts
@inject IProductService ProductService

@if (product == null)
{
    <p>Loading product details...</p>
}
else
{
    <h3>@product.Name</h3>

    <div>
        <img src="@product.ImageURL" alt="@product.Name"/>
        <p>@product.Description</p>
        <p>Price: @product.Price.ToString("C")</p>
        <p>Quantity: @product.Quantity</p>
        <p>Category: @product.CategoryName</p>
    </div>
}

@code {

    [Parameter]
    public string Id { get; set; }

    public ProductDto product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetProduct(int.Parse(Id));
    }
}